.container{
    padding-top: 15px;
    background-color:black;
    color:white;
}
a {text-decoration: none; }

.footer-items{
    display : flex;

}

.contact-container{
    
    display : flex;
    flex-direction: column;
}